/* ==================================================
   Fonts
================================================== */
@font-face {
    font-family: 'GeometrN'; /*a name to be used later*/
    src: url('../fonts/geometr_n.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Geometr'; /*a name to be used later*/
    src: url('../fonts/geometr.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MicrosoftYi'; /*a name to be used later*/
    src: url('../fonts/microsoft_yi.ttf'); /*URL to font*/
}

/* ==================================================
   Basic Styles
================================================== */
*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans",Arial,Helvetica Neue,sans-serif;
  color: #706F6F;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

h1 {
  font-size: 46px;
  font-family: 'GeometrN';
}

h1 .small{
  color: #FFFFFF;

}

h2 {
  font-family: 'GeometrN';
}

h3 {
  font-family: 'Geometr';
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
}

h2, h3 {
  color: #474747;
  margin: 0;
}

p {
  font-size: 16px;
}

/* ==================================================
   Colors
================================================== */


/* ==================================================
    Sections
================================================== */
.sca-section {
  padding: 70px 0;
  background-color: white;
}

.sca-section h2{
  padding: 1em 0 2.5em;
  text-align: center;
  font-weight: bold;
}

.sca-section h3 {
  text-align: center;
}

/* ==================================================
    Home
================================================== */
#home {
  height: 800px;
  background-color: transparent;
}

.home-slider .logo {
  margin: 50px 0 0 30px;
}

.home-slider.ns_nerveSlider {
  position: absolute;
  z-index: -9999;
}

.home-slider .ns_slideContent {
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-slider .ns_slideContent.bg-1 {
  background-image: url('../img/home/__1.jpg');
}

.home-slider .ns_slideContent.bg-1 .logo{
  margin: 100px 0 0 50px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Geo'
}

.home-slider .ns_slideContent.bg-1 .logo img {
  width: 250px;
  margin: 0 auto;
  display: block;
  position: relative;
  max-width: 10;
}

.home-slider .ns_slideContent .slogan {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
}

.home-slider .ns_slideContent .slogan p {
  font-family: 'GeometrN';
  margin: 0;
  font-size: 35px;
  padding: 20px;
  letter-spacing: 2px;
}

.home-slider .ns_slideContent.bg-2 {
  background-image: url('../img/home/__2.jpg');
}

.home-slider .ns_slideContent.bg-2 .slogan {
  background-color: rgba(35, 21, 21, 0.8);
  bottom: 15px;
}

.home-slider .ns_slideContent.bg-3 {
  background-image: url('../img/home/__3.jpg');
}

.home-slider .ns_slideContent.bg-3 .slogan {
  background-color: rgba(193, 190, 190, 0.5);
  bottom: 50px;
}

.home-slider .ns_slideContent.bg-4 {
  background-image: url('../img/home/__4.jpg');
}

.home-slider .ns_slideContent.bg-4 .slogan {
  background-color: rgba(103, 57, 9, 0.6);
  bottom: 50px;
}

/* ==================================================
    Benefits
================================================== */
.benefits {
  display: table;
  border: 5px solid #ffffff;
}

.benefits .benefit-title h2{
  padding: 0;
  color: #FFFFFF;
}

.benefits .benefit {
  min-height: 200px;
}

.benefits .benefit-title, .benefits .benefit-content {
  display: table-cell;
  float: none;
}

.benefits .benefit-content .benefit h3 {
  padding: 0.8em 0;
  background: rgba(0, 0, 0, 0.6);
  margin: 15px 0;
  color: #FFFFFF;
  text-align: center;
}

.benefits .benefit-title {
  vertical-align: middle;
}

/* ==================================================
    Parents-Benefits
================================================== */
#parent-benefits {
  background-color: #F5D4D2;
  border-bottom: 1px solid #d7d8d9;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.8),inset 0 -1px 0 rgba(255,255,255,.8);
}

#parent-benefits .benefit-title {
  background-color: #F44336;
}

#parent-benefits .benefit.benefit-1 {
  background-color: #B9F6CA;
}

#parent-benefits .benefit.benefit-2 {
  background-color: #FFFF8D;
}

#parent-benefits .benefit.benefit-3 {
  background-color: #84FFFF;
}

#parent-benefits .benefit.benefit-4 {
  background-color: #FF8A80;
}

/* ==================================================
    School-Benefits
================================================== */
#school-benefits {
  background-color: #AAACB9;
}

#school-benefits .benefit-title {
  background-color: #3F51B5;
}

#school-benefits .benefit.benefit-1 {
  background-color: #8C9EFF;
}

#school-benefits .benefit.benefit-2 {
  background-color: #80CBC4;
}

#school-benefits .benefit.benefit-3 {
  background-color: #FFEE58;
}

#school-benefits .benefit.benefit-4 {
  background-color: #F06292;
}


/* ==================================================
    Demo
================================================== */
#sca-demo {
  background:#FFFFFF;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
}

#sca-demo .module {
  margin: 0 0 4em;
}

#sca-demo .module h3 {
  padding: 0.5em 0 2.5em;
}

#sca-demo .module .row {
  margin-bottom: 20px;
}

#sca-demo #video1,
#sca-demo #video2,
#sca-demo #video3,
#sca-demo #video4,
#sca-demo #video5,
#sca-demo #video6 {
  max-width: 634px;
  display: inline-block;
  height: auto;
  margin: 0 15px;
  position: relative;
  width: auto;
}

#sca-demo #video1 .video-js,
#sca-demo #video3 .video-js,
#sca-demo #video5 .video-js {
  position: absolute;
  top: 4.9%;
  left: 10.7%;
  width: 79% !important;
  height: auto !important;
}

#sca-demo #video1 .video-js video,
#sca-demo #video2 .video-js video,
#sca-demo #video3 .video-js video,
#sca-demo #video4 .video-js video,
#sca-demo #video5 .video-js video,
#sca-demo #video6 .video-js video {
  height: auto !important;
}

#sca-demo #video1 img,
#sca-demo #video2 img,
#sca-demo #video3 img,
#sca-demo #video4 img,
#sca-demo #video5 img,
#sca-demo #video6 img {
  width: 100%;
  height: 100%;
}

#sca-demo #video2 .video-js,
#sca-demo #video4 .video-js,
#sca-demo #video6 .video-js {
  position: absolute;
  top: 8.5%;
  left: 4%;
  width: 92% !important;
  height: auto !important;
}

#sca-demo .module .video-js {
  margin: 0 auto;
}

body.attendance #sca-demo {
  background: #FFEE58;
}

body.evaluation #sca-demo {
  background: #9FA8DA;
}

body.task #sca-demo {
  background: #66BB6A;
}

/* ==================================================
    Contact
================================================== */

#contact {
  height: 480px;
  /*background-color: transparent;*/
}

.contact-message p .big {
  font-size: 20px;
  font-weight: bold;
}

.contact-info .contact-icon {
  display: block;
  margin-bottom: 30px;
}

