/* ==================================================
   Fonts
================================================== */
@font-face {
    font-family: 'GeometrN'; /*a name to be used later*/
    src: url('../fonts/geometr_n.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Geometr'; /*a name to be used later*/
    src: url('../fonts/geometr.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'MicrosoftYi'; /*a name to be used later*/
    src: url('../fonts/microsoft_yi.ttf'); /*URL to font*/
}

/* ==================================================
   Basic Styles
================================================== */
*{
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans",Arial,Helvetica Neue,sans-serif;
  color: #706F6F;
}

ul {
  margin: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
}

h1 {
  font-size: 46px;
  font-family: 'GeometrN';
}

h1 .small{
  color: #FFFFFF;

}

h2 {
  font-family: 'GeometrN';
}

h3 {
  font-family: 'Geometr';
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
}

h2, h3 {
  color: #474747;
  margin: 0;
}

p {
  font-size: 16px;
}

/* ==================================================
   Colors
================================================== */


/* ==================================================
    Sections
================================================== */
.sca-section {
  padding: 70px 0;
  background-color: white;
}

.sca-section h2{
  padding: 1em 0 2.5em;
  text-align: center;
  font-weight: bold;
}

.sca-section h3 {
  text-align: center;
}

/* ==================================================
    Home
================================================== */
#home {
  height: 800px;
  background-color: transparent;
}

.home-slider .logo {
  margin: 50px 0 0 30px;
}

.home-slider.ns_nerveSlider {
  position: absolute;
  z-index: -9999;
}

.home-slider .ns_slideContent {
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-slider .ns_slideContent.bg-1 {
  background-image: url('../img/home/__1.jpg');
}

.home-slider .ns_slideContent.bg-1 .logo{
  margin: 100px 0 0 50px;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Geo'
}

.home-slider .ns_slideContent.bg-1 .logo img {
  padding: 0 220px;
  display: block;
  position: relative;
  max-width: 100%;
}

.home-slider .ns_slideContent .slogan {
  position: absolute;
  color: #FFFFFF;
  text-align: center;
}

.home-slider .ns_slideContent .slogan p {
  font-family: 'GeometrN';
  margin: 0;
  font-size: 35px;
  padding: 20px;
  letter-spacing: 2px;
}

.home-slider .ns_slideContent.bg-2 {
  background-image: url('../img/home/__2.jpg');
}

.home-slider .ns_slideContent.bg-2 .slogan {
  background-color: rgba(35, 21, 21, 0.8);
  bottom: 15px;
}

.home-slider .ns_slideContent.bg-3 {
  background-image: url('../img/home/__3.jpg');
}

.home-slider .ns_slideContent.bg-3 .slogan {
  background-color: rgba(193, 190, 190, 0.5);
  bottom: 50px;
}

.home-slider .ns_slideContent.bg-4 {
  background-image: url('../img/home/__4.jpg');
}

.home-slider .ns_slideContent.bg-4 .slogan {
  background-color: rgba(103, 57, 9, 0.6);
  bottom: 50px;
}

/* ==================================================
    Benefits
================================================== */
.benefits {
  display: table;
}

.benefits .benefit-title, .benefits .benefit-content {
  display: table-cell;
  float: none;
}

.benefits .benefit-content .benefit h3 {
  padding: 1.5em 0;
}

.benefits .benefit-title {
  vertical-align: middle;
}

/* ==================================================
    Parents-Benefits
================================================== */
#parent-benefits .benefit h3, #parent-benefits .benefit p{
  text-align: left;
}

/* ==================================================
    School-Benefits
================================================== */
#school-benefits .benefit h3, #school-benefits .benefit p{
  text-align: right;
}

/* ==================================================
    Demo
================================================== */
#sca-demo {
  background:#FFFFFF;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
}

#sca-demo .module {
  margin: 0 0 2em;
}

#sca-demo .module h3 {
  padding: 0.5em 0 2.5em;
}

#sca-demo .module .row {
  display: table;
  margin-bottom: 20px;
}

#sca-demo .module .module-video, #sca-demo .module .module-content {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

body.attendance #sca-demo {
  background: #FFFFE2;
}

body.evaluation #sca-demo {
  background: #D4F0EC;
}

body.task #sca-demo {
  background: #CBE3BD;
}

/* ==================================================
    Contact
================================================== */

#contact {
  height: 480px;
  background-color: transparent;
}
